<p>ag-grid works!</p>
<!-- <ag-grid-angular
    style="width: 300px; height: 350px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
</ag-grid-angular> -->

<div class="para-container">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nesciunt odio blanditiis impedit laudantium ratione consectetur dolorem magni labore optio, saepe rem dolor aut deserunt sit distinctio minima, unde nobis?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloremque quidem ullam vel, nisi, nihil asperiores voluptas cumque voluptate non odit est sunt commodi tempora illum itaque quae, adipisci tenetur.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis et possimus numquam. Ullam aspernatur similique atque quis explicabo alias aperiam numquam veniam nemo, esse voluptatum blanditiis quo dolores ut nobis?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nam doloremque molestiae nostrum omnis amet ab beatae odio minima velit officiis in, neque voluptate quaerat repudiandae ipsa sunt quam saepe.
</p>
</div>
